* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#linha-azul {
    width: 100%;
    height: 35px;
    background-color: #000099;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#numero {
    color: white;
    font-size: 16px;
    padding: 14%;
}

#numero a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

/* Menu */
#menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14% 0.5% 14%;
}

#logo {
    width: auto; 
    padding-left: auto;
}

#menu {
    list-style: none;
    display: flex;
    margin-right: none;
}

#menu li {
    position: relative; 
    margin-left: 20px;
    margin-top: 80px;
}

#menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

#menu li a:hover {
    color: #000099;
}

/* Submenu */
#submenu-empresa,
#submenu2-empresa {
    padding: 10px 20px;
    display: none; /* Esconde os submenus por padrão */
    position: absolute; /* Para sobrepor o menu principal */
    background-color: blue; /* Cor de fundo do submenu */
    z-index: 10; /* Garante que o submenu fique acima do conteúdo */
    list-style: none; /* Remove marcadores */
    top: 10px;
    right: -100%;
}

#menu li:hover #submenu-empresa,
#submenu-empresa li:hover #submenu2-empresa {
    display: block; 
}

#submenu-empresa li,
#submenu2-empresa li {
    margin: 5px 0; 
}

#submenu-empresa a,
#submenu2-empresa a {
    text-decoration: none; 
    color: white; 
}

#submenu-empresa a:hover,
#submenu2-empresa a:hover {
    color: #000099; 
}

/* Slide */
.splide {
    background-color: #000099;
    margin-top: 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

/* Texto */
.artigo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.artigo div {
    padding-left: 13%; 
}

.imgTexto {
    width: 300px; 
    height: auto; 
}

.artigoTexto {
    padding-left: 3%;
}

.artigoTexto p {
    margin-bottom: 15px; 
}

.artigo p, .artigo ul {
    margin-bottom: 15px;
}

.imgTexto {
    width: 300px;
    padding-right: 14%;
}

.boxTitle {
    display: flex;
    justify-content: left;
    padding-left: 13%; 
    margin-top: 2%;
    margin-bottom: 2%;
}

.boxes {
    display: flex;
    justify-content: space-between;
    padding-left: 14%;
    padding-right: 14%;
    flex-wrap: wrap; 
}

.boxes figure {
    margin: 20px; 
    text-align: start; 
}

.boxes img {
    display: block; 
    margin: 0 auto; 
}

.boxes a {
    display: block; 
    margin-top: 10px; 
    text-decoration: none; 
    color: #000; 
}

.boxes a:hover {
    color: #000099;
}

/* Rodape */
footer {
    background-color: grey;
    text-align: center;     
    padding: 20px 0 100px 0;     
    margin-top: 2%;  
}

#menu2 {
    list-style: none;      
    padding: 0;            
    margin: 0;             
}

#menu2 li {
    display: inline;        
    margin: 0 15px;        
}

#menu2 a {
    text-decoration: none;  
    color: white;           
}

#menu2 a:hover {
    text-decoration: underline; 
}
